:root {
    --primary-color: #e8e8e8;
    --accent1-color: #264253;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
}

header img {
    position: relative;
    padding: 5px 0 0 15px;
    width: 125px;
}

header p {
    position: absolute;
    margin: -10px -1px auto 15px;
    font-family: fantasy;
    width: 110px;
    font-size: 1.1em;
    color: black;
    background-color: #fff;
    padding: 2px;
    text-align: center;
}

body {
    font-family: var(--body-font);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    opacity: 0.9;
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 5px;
    background-color: var(--accent1-color);
    color: #fff;
    z-index: 2;
    opacity: 0.7;
    padding: 7px;
    display: flex;
    justify-content: space-between;
}

.hero article .text-content {
    order: 1;
}

.hero article img {
    float: right;
    width: 125px;
    order: 2;
}

main section h2 {
    background-color: var(--accent1-color);
    padding: 15px;
    color: #fff;
    text-align: center;
    width: 100%;
    margin: 16px auto;
}

footer img {
    width: 60px;
    height: 60px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    left: -10000px;
    height: 1px;
    overflow: hidden;
}