:root {
    --body-font: Arial, Helvetica, sans-serif;
    --heading-font: "Times New Roman", "Georgia", serif;
    --caption-font: italic;
    --body-color: #1f2937;
    --primary-color: #ffff;
    --accent1-color: #264253;
    --accent2-color: #a9a9a9;
    --accent3-color: #c0c0c0;
    --color1: #000;
    --button-color: #daa520;
    --shadow: 0 10px 25px #000;
}

main{
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4fr;
}

header img {
    box-shadow: var(--shadow);
    margin: 1rem;
    width: 90px;
    height: auto;
    border-radius: 10px;
    border: 3px solid;
    
}    

header nav a{
    box-shadow: var(--shadow);
    border: 3px solid;
    border-radius: 10px;
    color: var(--color1);
    padding: .5rem;
    font-weight: 1000;
}    

header,
main,
footer {
    background-color: var(--body-color);
    width: 840px;
    margin: 0 auto;
}

header, footer{
    background-color: var(--accent2-color);
}

a:hover{
    background-color: #696969;
}

body {
    font-family: var(--body-font);
}

h1,
h2 {
    font-family: var(--heading-font);
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
}

header nav ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border: 3px solid;
    padding: 2rem;
    box-shadow: var(--shadow);
}

a {
    text-decoration: none;

}

.hero {
    position: relative;
    box-shadow: var(--shadow);
    border: 3px solid;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    opacity: 0.9;
    color: var(--primary-color);
    box-shadow: var(--shadow);
    border: 3px solid var(--color1);
}

.hero article {
    position: absolute;
    bottom: 5px;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    z-index: 2;
    opacity: 0.8;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    box-shadow: var(--shadow);
    border: 3px solid var(--color1);
}



.hero article img {
    float: right;
    width: 125px;
    order: 2;
}

h2 {
    background-color: var(--accent1-color);
    padding: 15px;
    color: var(--primary-color);
    text-align: center;
    width: 100%;
    margin: 16px auto;
    box-shadow: var(--shadow);
    border: 3px solid var(--color1);
}

footer img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-shadow: var(--shadow);
}

footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

footer p{
    text-align: center;
    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    left: -10000px;
    height: 1px;
    overflow: hidden;
    color: var(--primary-color);
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}
.grid img {
    width: 22rem;
    box-shadow: var(--shadow);
}

.grid p{
    color: var(--primary-color);

}

.adventures-grid img{
    width: 150px;
    border: 3px solid var(--color1);
    box-shadow: var(--shadow);
}

.adventures-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    padding: 20px 0 20px 15px;
}
figcaption {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    height: 60px;
    padding: 25px;
    text-align: center;
}

.history, .adventures {
    border: 3px solid;
    box-shadow: var(--shadow);
}

.socialmedia{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socialmedia a{
    text-decoration: none;
}

.employees{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 2em;
    margin-bottom: 1.5em;
}

.employees img{
    width: 170px;
    height: 10em;
    object-fit: cover;
}

.employees figure figcaption, .employees span{
    justify-content: center;
    align-items: center;
    margin-left: -2em;
}

.employees figure, fieldset, figcaption{
   display: flex; 
   flex-direction: column;
   margin-top: .3em;
}

.employees figure span{
    font-style: var(--caption-font);
    text-align: center;
    color: var(--accent3-color);
    padding: .5em 0 0 2em;
}

.company-info {
    text-align: center;
    font-size: 1rem;
    color: var(--accent3-color);
    padding-top: 1em;
    
}

.contacth1{
    position: relative;
    font-size: 2em;
}

.user{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    height: 32em;
}

fieldset{
    border: none;
}

iframe, form{
    height: 30em;
}


label, .column1 span {
    font-size: 1.2em;
    padding-top: .8em;
    color:var(--accent3-color);
}

input, textarea, button{
    border: 2px solid;
    border-radius: 10px;
    margin-bottom: -.5em;
    font-family: var(--body-font);
}

input, textarea{
    background-color:var(--accent2-color);
    
}

input[type="text"],[type="email"]{
    width: 20em;
    height: 3em;
    padding: 10px;
    font-size: 1rem;
}

input[type="radio"]{
    margin-left: 3.9em;
    margin-bottom: 1.5em;
    transform: scale(1.5);
}

.column1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column2{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

textarea{
    width: 28em;
    height: 6em;
    padding: 10px;
    font-size: 1rem;
}

.column1 span{
    margin-top: -2em;
}

button{
    width: 18.7em;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: .5em;
    padding: .5em;
    background-color: var(--button-color);
    color: var(--color1);
}

.checkbox label, .column1 label{
    margin-left: .5em;
}

.checkbox input{
    margin-top: .7em;
    margin-left: .4em;
    transform: scale(1.5);
}

.banner img{
    height: 900px;
    object-fit: cover;
    position: relative;
}

.banner h1{
    
    border: none;
    color: var(--primary-color);
    box-shadow: var(--shadow);
    font-size: 2em;
}

.banner p{
    position: absolute;
    margin-top: -41em;
    color: var(--accent1-color);
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}

.visit-trips a, .trips a{
    background-color: var(--button-color);
    padding: .7em 2em;
    border-radius: 5px;
    font-size: 1.1em;
    box-shadow: var(--shadow);
    border: 1px solid;
    color: var(--color1);
}

.visit-trips a:hover, button:hover, .trips a:hover{
    background-color: #ff8600;
}

.content{
    display: grid;
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
    margin-top: -22em;
    padding-bottom: 20em;
}

.content article{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.content article img{
    height: 13em;
    width: 13em;
    object-fit: cover;
}

.content span{
    margin: 1em auto -.5em auto;
    color: var(--primary-color);
}

.newsletter{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    position: relative;
}

.newsletter input{
    width: 25em;
}

.newsletter fieldset{
    padding: 2em;
    margin-top: -.7em;
}

.newsletter img{
    width: 15em;
    height: 13em;
    object-fit: cover;
    margin-left: 2em;
    box-shadow: var(--shadow);
    border: 2px solid var(--color1);
}

.newsletter form{
    height: 20em;
}

.newsletter label{
   text-align: center;
}

.newsletter button{
    width: 16.5em;
    margin-left: 3.9em;
}

.newsletter span{
    margin: 2em auto 2em 6em;
    color: var(--primary-color);
}

.heading h1{
    font-size: 2em;
}

.heading p{
    margin: 5em auto 5em auto;
    padding: 2em;
    font-size: 1.2em;
    font-weight: bold;
    height: 1em;
    text-align: center;
    color: var(--primary-color);
}
.trips{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.trips img{
    width: 15em;
    height: 10em;
    object-fit: cover;
    box-shadow: var(--shadow);
    border: 2px solid var(--color1);
}

.row1{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.trips figure{
    border: 2px solid var(--color1);
    padding: 2em 1em;
    margin-bottom: 1em;
    box-shadow: var(--shadow);
}

.trips figcaption{
    margin-top: -2em;
}

.trips-table{
    width: 100%;
    color: var(--primary-color);
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: var(--shadow);
    color: #d3d3d3;
}
.trips-table th, .trips-table td {
    border: 1px solid var(--accent1-color);
    padding: 10px 15px;
    text-align: left;
}
.trips-table th{
    background-color: var(--color1);
    color:var(--button-color);
    text-align: center;
}

.trips-table caption{
    caption-side: top;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}