:root {
    --primary-color: #ffff;
    --accent1-color: #264253;
    --accent2-color: darkgray;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    --body-color: #1f2937;
    --color1: #000;
    --caption-font: italic;
    --shadow: 0 10px 25px rgba(0, 0, 0, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4fr;
}

header img {
    box-shadow: var(--shadow);
    margin: 1rem;
    width: 90px;
    height: auto;
    border-radius: 10px;
    border: 3px solid;
    
}    

header nav a{
    color: var(--color)1;
    padding: .5rem;
    font-weight: 1000;
}    

header,
main,
footer {
    background-color: var(--body-color);
    width: 840px;
    margin: 0 auto;
}

header, footer{
    background-color: var(--accent2-color);
}

body {
    font-family: var(--body-font);
}

h1,
h2 {
    font-family: var(--heading-font);
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
}

header nav ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border: 3px solid;
    padding: 2rem;
    box-shadow: var(--shadow);
}

header nav a{
    box-shadow: var(--shadow);
    border: 3px solid;
    border-radius: 10px;
}


a {
    text-decoration: none;

}

.hero {
    position: relative;
    box-shadow: var(--shadow);
    border: 3px solid;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    opacity: 0.9;
    color: var(--primary-color);
    box-shadow: var(--shadow);
    border: 3px solid var(--color1);
}

.hero article {
    position: absolute;
    bottom: 5px;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    z-index: 2;
    opacity: 0.8;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    box-shadow: var(--shadow);
    border: 3px solid var(--color1);
}

.hero article .text-content {
    order: 1;
}

.hero article img {
    float: right;
    width: 125px;
    order: 2;
}

h2 {
    background-color: var(--accent1-color);
    padding: 15px;
    color: var(--primary-color);
    text-align: center;
    width: 100%;
    margin: 16px auto;
    box-shadow: var(--shadow);
    border: 3px solid var(--color1);
}

footer img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-shadow: var(--shadow);
}

footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

footer p{
    text-align: center;
    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    left: -10000px;
    height: 1px;
    overflow: hidden;
    color: var(--color1);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    /*box-shadow: var(--shadow);
    border: 3px solid;*/
}
.grid img {
    width: 22rem;
    box-shadow: var(--shadow);
}

.grid p{
    color: var(--primary-color);

}

.adventures-grid img{
    width: 150px;
    border: 3px solid;
    box-shadow: var(--shadow);
}

.adventures-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    padding: 20px 0 20px 15px;
   /* box-shadow: var(--shadow);
    border: 3px solid;*/
}
figcaption {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    height: 60px;
    padding: 25px;
    text-align: center;
}

.history, .adventures {
    
    border: 3px solid;
    box-shadow: var(--shadow);
}

.socialmedia{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.employees{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 2em;
    margin-bottom: 1.5em;
}

.employees img{
    width: 170px;
    height: 10em;
    object-fit: cover;
}

.employees figure figcaption, .employees span{
    justify-content: center;
    align-items: center;
    margin-left: -2em;
}

.employees figure, fieldset{
   display: flex; 
   flex-direction: column;
}

.employees figure span{
    font-style: var(--caption-font);
    text-align: center;
    margin-top: -1em;
    color: var(--primary-color);
}

.company-info {
    text-align: center;
    font-size: 1.3rem;
    color: var(--primary-color);
    padding-top: 1em;
}

.contacth1{
    position: relative;
    font-size: 2em;
}

.user{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    height: 30em;
}

iframe, form{
    height: 22em;
    
}


label, span {
    font-size: 1.2em;
    color: var(--primary-color);
    padding-top: .8em;
}

input, textarea, button{
    border: 2px solid;
    border-radius: 10px;
    margin-bottom: -.5em;
}

input[type="text"],[type="email"]{
    width: 20em;
    height: 3em;
    padding: 10px;
    font-size: 1rem;
}

input[type="radio"]{
    margin-left: 3.7em;
    margin-bottom: 1.5em;
}

.column1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column2{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

textarea{
    width: 28em;
    height: 6em;
    padding: 10px;
    font-size: 1rem;
}

.column1 span{
    margin-top: -2em;
}
