*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: #333;
    background: #fff;
}

header{
    margin: 0 auto;
    width: 650px;
}


h1{
    color: navy;
    font-size: 1.5em;
    margin: 1rem;
    text-align: center;
}

button{
    color: aliceblue;
    background-color: darkblue;
    width: fit-content;
}

form{
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid;
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

input[type="checkbox"]{
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

input, select, textarea{
    padding: 0.5rem;
    font-size: 1.1rem;
}

label{
    text-align: right;
    padding-right: 1rem;
}

fieldset{
    display: grid;
    gap: .5rem;
    margin: 1rem;
    border: 1px solid;
    padding: 1rem;
}

button{
    margin: 1rem auto;
    background-color: navy;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    padding: .75rem;
    border-radius: .5rem;
}

button:hover{
    background-color: darkgreen;
}

legend{
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label, input, button, textarea, select{
    font-family:Arial, Helvetica, sans-serif;
}

footer{
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}

.form-item{
    display: grid;
    align-items: center;
}

.column1{
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2{
    grid-template-columns: 1fr 2fr;
}

.column3 label{
    text-align: center;
}